<launch>

    <node
        name="keyboard"
        pkg="keyboard"
        type="keyboard"
        ns="/control"
    >
        <remap from="/control/keyup" to="control/keyboard/keyup"/>
        <remap from="/control/keydown" to="control/keyboard/keydown"/>
    </node>



    <!-- <node name="joy" pkg="joy" type="joy_node" output="screen">
        <param name="~dev" value="/dev/input/js1"/>
        <remap from="/joy" to="/control/joystick/joy"/>
    </node> -->

    <node name="joy" pkg="joy" type="joy_node" output="screen">
        <param name="~dev" value="/dev/input/js1"/>
    </node>

    <node
        name="reverse_kinematics"
        pkg="phobos_control_manipulator"
        type="reverse_kinematics"
    ></node>

    <node name="manip_operation" pkg="phobos_control_manipulator" type="manip_operation" >
        <remap from="/control/joystick/joy" to="/joy"/>
    </node>

    <node name="wheel_control" pkg="phobos_control_manipulator" type="wheel_control">
        <remap from="/control/joystick/joy" to="/joy"/>
    </node>

    <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure"/>


</launch>
