<launch>
    <node name="web_video_client_1" pkg="phobos_control_vision" type="web_video_client" output="screen">
        <param name="stream_addres" value="http://0.0.0.0:8080/stream?topic=/rover/camera1/image_raw"/>
        <!-- <param name="publisher_topic" value="/control/vision/camera_1"/> -->
        <param name="window_name" value="camera_1"/>
        <param name="pose_x" value="100"/>
        <param name="pose_y" value="100"/>
        <param name="size_x" value="320"/>
        <param name="size_y" value="240"/>
    </node>
</launch>
